</div>

<h3>Featured Collection</h3>
<h4> More boxes<h4>
<center id = "pics2">
<div class ="box">
<img class = "features" src = "https://cdn.shopify.com/s/files/1/0042/2304/1654/products/giftbox-muffinloafbox2_360x.png?v=1532108764">
<img class = "features" src = "https://cdn.shopify.com/s/files/1/0042/2304/1654/products/24pack-giftbox-v4_540x.png?v=1541185156">
<img class =  "features" src = "https://cdn.shopify.com/s/files/1/0042/2304/1654/products/giftbox-muffinloafbox2_360x.png?v=1532108764">
</div>
</center>


<section class = "one">
<center>
<h2 class = "h2" >Our company</h2>
<h3 class = "about"> 
We're a family owned and operated business from New York. We pride ourselves on being a small business that supports our locals communities.
</h3>

</section>

